@import url("https://use.typekit.net/ggv7onz.css");

@font-face {
  font-family: "Glaive";
  src: url("vampire_movies_assets/Glaive Regular.woff") format("woff");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

* { box-sizing: border-box; }

body {
  background-color: #f5f5f5;
  height: 100%;
}

/* HOME PAGE STYLES */

.home-main-box {
  background-color: #f50000;
  display: flex;
  position: relative;
  float: right;
  width: 85%;
  min-height: 500px;
  top: 200px;
  margin: 0 -8px 0 0;
  z-index: 1;

}

.home-title {
  color: #f5f5f5;
  margin: auto 0 auto 135px;
  font-family: "Glaive", serif;
  font-size: 144px;
  line-height: 40%;
  white-space: nowrap;
  transform: rotate(-9deg);
}

.home-title-sup {
  display: inline-block;
  font-size: 60px;
  margin: 36px -15px 0 40px;
  vertical-align: text-top;
}

.home-frame img {
  position: absolute;
  top: -95px;
  left: -95px;
  height: 693px;
  z-index: -1;
  mix-blend-mode: multiply;
}

/* NEXT BUTTON: HOME PAGE (W/ Animation) & SECONDARY PAGE*/

/* Home Page */
.next-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #0b0b0b;
  width: 120px;
  height: 70px;
  display: flex;
  justify-content: center;
}

/* All other pages */
.next-button-secondary {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #0b0b0b;
  width: 120px;
  height: 70px;
  display: flex;
  justify-content: center;
  z-index: 40;
}

/* SVG + ANIMATION */
.next-button svg, .next-button-secondary svg {
  width: 45px;
  margin: auto;
  fill: #f50000;
}

.arrow-anim {
  background-color: #333333;
  fill: #f5f5f5;
  animation-name: arrow-fade;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes arrow-fade {
  0% {
    background-color: #0b0b0b;
    fill: #f50000;
  }
  100% {
    background-color: #333;
    fill: #f5f5f5;
  }
}

.hidden-hover-text {
  position: absolute;
  text-align: right;
  right: 130px;
  opacity: 0;
  transition: 0.3s;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  color: #f5f5f5;
  margin: 7px 20px 0 0;
  white-space: nowrap;
}

.next-button:hover .hidden-hover-text {
  opacity: 1;
}

/* SECONDARY PAGE STYLES */
.container {
    width: 93%;
    display: flex;
    flex-flow: column wrap;
    float: right;
    position: relative;
    margin: 0 -8px 0 0;
    overflow: hidden;
}


/* TOP DIV */
.top-row-container {
  flex-direction: row;
  align-self: flex-end;

}

.top-row {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0b0b0b;
    display: flex;

}

/* Movie Title Headers  */

h1 {
  font-family: "Glaive", serif;
  font-size: 100px;
  margin-bottom: 20px;
  white-space: nowrap;
  line-height: 65px;
  margin-top: 315px;

}

h4 {
  font-family: "Glaive", serif;
  font-size: 100px;
  margin-bottom: 20px;
  white-space: nowrap;
  line-height: 65px;
  margin-top: 216px;
}

h4 sup {
  display: inline-block;
  font-size: 50px;
  margin: 15px 20px -10px 0;
  vertical-align: text-top;
}

h5 {
  font-family: "Glaive", serif;
  font-size: 100px;
  margin-bottom: 9px;
  white-space: nowrap;
  line-height: 95px;
  margin-top: 201px;
}

/* Movie Information */

.summary {
    min-width: 300px;
    max-width: 300px;
    height: 150px;
    margin: 0 60px 0 0;
}

.genre-director {
    margin: 0 70px 0 0;
    white-space: nowrap;
    height: 100%;
}

h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 15%;
  font-size: 18px;
}

p {
  font-size: 19px;
  margin: 0 0 28px 0;
} 

/* BOTTOM DIV */

.bottom-row {
  background-color: #f50000;
  width: 100%;
  height: 312px;
  
}

h3 {
    position: absolute;
    font-family: "Glaive", serif;
    color: #f5f5f5;
    font-size: 190px;
    margin: 100px 0 0 -8px;
}

/* VERTICAL NAV STYLES */

.nav-block {
  width: 7%;
  height: 864px;
  display: inline-block;
  position: absolute;
}

nav {
  position: absolute;
  bottom: 0px;
  right: 0;
}

ul {
  position: absolute;
  list-style-type: none;
  font-size: 17px;
  line-height: 20px;
  bottom:0;
  margin: 0 0 50px -65px;
}

a, a:visited {
  text-decoration: none;
  color: #B9B9B9;
}

a.active, a.active:hover {
  color:#0b0b0b;
}

a:hover {
  color: #f50000;
  transition-duration: .4s;
} 

/* Bat Home Button */

.bat {
  fill:#0b0b0b;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  margin-right: 7px;
  z-index: 50;
}

.bat:hover {
  fill: #f50000;
  transition-duration: .4s;
}

/* IMAGES */

/* Midnight Mass - Page 1 */

.midnight-mass {
  position: absolute;
  bottom: 0;
  right: -40px;
  min-width: 730px;
  max-width: 780px;
  transform: scaleX(-1);
  z-index: 10;
}

.frame-mm {
  position: absolute;
  min-width: 753px;
  max-width: 753px;
  bottom: -340px;
  right: 40px;
  mix-blend-mode: multiply;
  transform: rotate(63.84deg);
}

/* Interview with the Vampire - Page 2 */

.interview {
  position: absolute;
  bottom: 0;
  right: -100px;
  min-width: 876px;
  max-width: 876px;
  z-index: 10;
}

.frame-i {
  position: absolute;
  min-width: 725px;
  max-width: 725px;
  bottom: -210px;
  right: -40px;
  mix-blend-mode: multiply;
  transform: rotate(68.84deg);
}

/* Thirst - Page 3 */
.thirst {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 870px;
  max-width: 870px;
  z-index: 10;
}

.frame-t {
  position: absolute;
  min-width: 780px;
  max-width: 780px;
  bottom: -360px;
  right: 20px;
  mix-blend-mode: multiply;
  transform: rotate(63.84deg);
}

/* Let the Right One In - Page 4 */

.the-right-one {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 830px;
  max-width: 830px;
  z-index: 10;
}

.frame-l {
  position: absolute;
  min-width: 724px;
  max-width: 724px;
  bottom: -250px;
  right: -190px;
  mix-blend-mode: multiply;
  transform: rotate(-75deg);
}